<div>
    <div class="col-md-8 form-group">
         <a href="#/about/add" class="btn btn-info">
          <span class="glyphicon "></span> Add Your Summary 
        </a>
    </div>
</div>

<div class="timeline-badge"><i 
	ng-class="{'glyphicon glyphicon-file': (timeline.type=='project') };">
	</i></div>
<div class="timeline-panel">
	<div>
        <h3 class="timeline-title">{{user.name}}</h3>
        <h4 class="timeline-title">{{user.currentRole}}</h4>
        <h4 class="timeline-title">{{user.comapnyname}}</h4>
        <h4 class="timeline-title">{{user.place}}</h4>
    </div>
    <div>
        <p>{{user.place}}</p>
    </div>
    <div class="timeline-body">
        <p>{{user.summary}}</p>
    </div>
     
</div>