<div>
    <div class="col-md-8 form-group">
         <a ui-sref=".add" class="btn btn-info">
          <span class="glyphicon glyphicon-plus "></span> Add Your Summary
        </a>
    </div>
</div>

<div class="timeline-badge"><i 
	ng-class="{'glyphicon glyphicon-file': (timeline.type=='project') };">
	</i></div>
<div class="timeline-panel">
	<div>
        <h3 class="timeline-title">{{data.name}}</h3>
        <h4 class="timeline-title">{{data.currentrole}}</h4>
        <h4 class="timeline-title">{{data.companyname}}</h4>
        <h4 class="timeline-title">{{data.place}}</h4>
    </div>
    <div>
        <p>{{data.place}}</p>
    </div>
    <div class="timeline-body">
        <p>{{data.summary}}</p>
    </div>
     
</div>